* {
    box-sizing: border-box;
}

.container {
    max-width: max-content;
    margin: 500px auto;
}

.info-btn {
    background-color: transparent;

    border: none;
    border-radius: 50%;
    vertical-align: top;
}

.popover-tooltip {
    position: absolute;
    transform: translate(-50%, calc(-100% - 10px));
}

